* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: grey;
    text-align: center;
    padding: 15em;
}
button{
    padding: 2em 4.5em;
    background-color: grey;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

/* .btn {
    width: fit-content;
    height: 10rem auto;
} */
button:hover{
    background-color: white;
    color: black;
}
button:active{
    border: 5px double black;
}
    
    
