body {
    background-color: rgb(170, 166, 157);

}


/* utility Classes */
.btn {
    width: 100px;
    height: 50px;
    border: 2px solid black;
}

.position_right {
    float: right
}
.position_left{
    float: left;
}

.first_color {
    background-color: rgb(173, 255, 47);

}

.second_color {
    background-color: rgb(248, 239, 186);
}

.third_color {
    background-color: rgb(0, 255, 0);
}

.fourth_color {
    background-color: rgb(209, 216, 224);
}

.buttons_container {
    border: 5px solid red;
    background-color: rgb(140, 149, 176);
    height: 60px;

}

.box_container {
    color: rgb(159, 154, 228);
    width: 2300px;
}

.box {
    display: inline-block;
    width: 500px;
    height: 300px;
}
.box2 {
    color: black;
    height: 350px;

}
